/*字体*/

@font-face {
	font-family: "SourceHanSansCN-Normal";
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot');
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot?#font-spider') format('embedded-opentype'), url('../font/谷歌思源/SourceHanSansCN-Normal.woff') format('woff'), url('../font/谷歌思源/SourceHanSansCN-Normal.ttf') format('truetype'), url('../font/谷歌思源/SourceHanSansCN-Normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*reset*/


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
	margin: 0;
	padding: 0;
}


/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
	font: 14px/1.5 tahoma, \5b8b\4f53, ""SourceHanSansCN-Normal"";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

html {
	font: 12px/1.5 "SourceHanSansCN-Normal",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	color: #494949;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

/* 将斜体扶正 */

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */

small {
	font-size: 12px;
}


/* 小于 12px 的中文很难阅读, 让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
	list-style-type: none;
}


/** 重置文本格式元素 **/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}


/* 重置, 减少对行高的影响 */

sub {
	vertical-align: text-bottom;
}


/** 重置表单元素 **/

legend {
	color: #000;
}


/* for ie6 */

fieldset,
img {
	border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
	font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 重置 HTML5 元素 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	display: block;
	margin: 0;
	padding: 0;
}

mark {
	background: #ff0;
}

a {
	text-decoration: none;
	color: #62666c;
}

a:hover {
	text-decoration: none;
}

.wrap {
	max-width: 1200px;
	min-width: 980px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.navWrap ul {
	float: left;
}


/*头部部分*/

.headerWrap {
	width: 100%;
	min-width: 980px;
	/*overflow: hidden;*/
	padding: 20px 0;
	position: fixed;
	top: 0;
	z-index: 100000;
	background: white;
	border-bottom: 1px solid #A9A9A9;
}

.header {
	max-width: 1700px;
	min-width: 980px;
	width: 100%;
	margin: 0 auto;
	/*overflow: hidden;*/
}

.navWrap li a.active {
	color: #008AAD;
}

.logoWrap,
.headerWrap .navWrap {
	float: left;
}

.navWrap li a:hover {
	color: #008AAD;
}

.logoWrap {
	margin-left: 40px;
}

.navWrap {
	margin-top: 18px;
}

.navWrap {
	padding-left: 25px;
}

.headerWrap .navWrap li {
	float: left;
	font-size: 20px;
	color: #62666c;
	padding: 0 20px 0 20px;
	line-height: 25px;
}

.navWrap li.fenge {
	width: 2px;
	height: 20px;
	background-color: #62666C;
	padding: 0;
	margin-top: 4px;
}
#changpin{
	position: relative;
}
.chanpinNav{
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 9999999999;
	width: 300%;
	top: 25px;
	left: -4px;
	padding-top: 2px;
}
#chanpinNav li{
	width: 33.3%;
	padding: 0px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	float: left;
}
#chanpinNav li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#chanpinNav li:hover{
	background: #008AAD;
}
#chanpinNav li:hover a{
	color: white;
}
.searchWrap {
	float: right;
	min-width: 115px;
	width: 16%;
	height: 38px;
	border: 1px solid #62666c;
	margin-top: 10px;
	margin-right: 2%;
}

.searchWrap .searchBox {
	border: none;
	outline: none;
	width: 120px;
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	color: #676767;
	margin-left: 2px;
}

.searchWrap img {
	float: right;
	margin-top: 7px;
	margin-right: 6px;
	cursor: pointer;
}


/*banner部分*/

.banner {
	height: 452px;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: #1e1711;
	position: relative;
}

.banner img {
	position: relative;
	top: -80px;
	width: 100%;
}


/*小nav部分*/

.nav2Wrap {
	background: #008aad;
	height: 48px;
	line-height: 48px;
	width: 100%;
	z-index: 100000000;
	position: absolute;
}

.nav2 {
	color: #FFFFFF;
	margin: 0 auto;
	font-size: 18px;
	position: relative;
	max-width: 1200px;
	min-width: 980px;
	margin: 0 auto;
	position: relative;
}

.nav2 span {
	position: relative;
	display: inline-block;
}

.fenge {
	display: inline-block;
	width: 1px;
	height: 16px;
	background: #FFFFFF;
	margin: 0 8px;
	top: 2px;
}
.littleNav{
	cursor: pointer;
}
.triangle-down0,
.triangle-down1,
.triangle-down2,
.triangle-down3 {
	display: inline-block;
	/*width: 0;*/
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 13px solid #008AAD;
	position: absolute;
	bottom: -30px;
	z-index: 999999999999;
	left: 50%;
	margin-left: -8px;
	opacity: 0;
}


/*内容部分*/


/*愿景*/

h1,
h2 {
	font-size: 36px;
	font-weight: bold;
	margin: 35px 0;
}

.text {
	font-size: 18px;
	line-height: 36px;
}

.boxWrap {
	width: 100%;
	overflow: hidden;
}

.aboutWrap.boxWrap {
	padding-top: 75px;
}

.yuanjing .textBox {
	width: 50%;
	padding: 40px 45px 40px 0;
	border-bottom: 1px solid #008aad;
	display: inline-block;
}

.yuanjing .textBox.lastOne {
	border: none;
}

.yuanjing .textTittle {
	color: #008AAD;
	font-weight: bold;
}

.yuanjing li {
	position: relative;
}

.yuanjing img {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -64px;
}

.yuanjing .bottomImg {
	vertical-align: bottom;
}


/*成员*/

.membersPicter {
	width: 100%;
	height: 550px;
	position: relative;
}

.memberBox {
	text-align: center;
	float: left;
	overflow: hidden;
	width: 17%;
	height: 400px;
	font-size: 18px;
	margin-right: 3%;
	position: relative;
}

.memberBox.lastMember {
	margin: 0;
}

.memberBox.double {
	top: 100px;
}

.animatedBoxWrap {
	width: 100%;
	height: 240px;
}

.animatedBox {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	width: 100%;
	height: 240px;
	position: relative;
	transition: all 1s;
}

.beforImg,
.afterDiv {
	width: 100%;
	height: 100%;
	position: absolute;
}

@-webkit-keyframes flip {
	from {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	40% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	80% {
		-webkit-transform: perspective(400px) scale3d(.95, .95, .95);
		transform: perspective(400px) scale3d(.95, .95, .95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@keyframes flip {
	from {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	40% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	80% {
		-webkit-transform: perspective(400px) scale3d(.95, .95, .95);
		transform: perspective(400px) scale3d(.95, .95, .95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation: flip 1s;
	animation: flip 1s;
}

.beforImg {
	transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	/* IE 9 */
	-moz-transform: rotateX(0deg) rotateY(0deg);
	/* Firefox */
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	/* Safari 和 Chrome */
	-o-transform: rotateX(0deg) rotateY(0deg);
	/*transition: all 1s;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.afterDiv {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	/* IE 9 */
	-moz-transform: rotateY(180deg);
	/* Firefox */
	-webkit-transform: rotateY(180deg);
	/* Safari 和 Chrome */
	-o-transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.animatedBoxWrap:hover .animatedBox {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	/*IE 9*/
	-moz-transform: rotateY(180deg);
	/* Firefox */
	-webkit-transform: rotateY(180deg);
	/* Safari 和 Chrome */
	-o-transform: rotateY(180deg);
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.last {
	padding: 95px 0 25px 0;
}

li.last ul {
	float: left;
	margin-top: 260px;
}

li.last ul li {
	position: relative;
}

.last .fenge {
	display: inline-block;
	width: 1px;
	height: 18px;
	background: #000000;
	top: 4px;
	left: 27px;
	position: absolute;
}

.last ul li.navTittle {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
	position: relative;
}

.last ul li {
	line-height: 50px;
}

.navTittle .icons img {
	vertical-align: middle;
	margin-right: 20px;
}

.last .navWrap {
	min-width: 980px;
	max-width: 1200px;
	margin: 0 auto;
}

.last .navWrap ul {
	width: 15%;
	margin-right: 25%;
}

.last .navWrap ul a {
	color: #000000;
}

.last .navWrap ul a:hover {
	color: #008AAD;
}

.last .navWrap ul#navLast {
	margin-right: 0;
}


/*发展历程*/

.licheng {
	font-size: 18px;
	position: relative;
	height: 680px;
	line-height: 30px;
	border-bottom: 1px solid #008AAD;
}

.licheng ul {
	float: left;
	width: 45%;
}

.licheng ul li {
	padding: 18px;
}

.licheng ul.textBoxLeft {
	text-align: right;
	margin-right: 10%;
}

.licheng ul.textBoxRight {
	text-align: left;
}

.licheng .lichengTittle {
	font-size: 27px;
	line-height: 48px;
}

.licheng .blueText {
	color: #008AAD;
}

.licheng img {
	position: absolute;
	left: 50%;
}


/*footer*/

.diggWrap {
	border-top: 1px solid #dedfe0;
	width: 100%;
	height: 50px;
	padding-top: 20px;
}

.digg {
	min-width: 980px;
	max-width: 1700px;
	margin: 0 auto;
}

.diggBox {
	width: 700px;
	margin: 0 auto;
	color: #008AAD;
	font-size: 14px;
}

.diggBox span {
	display: inline-block;
}

.diggBox span img {
	vertical-align: middle;
}

.diggText {
	width: 500px;
	text-align: center;
}

.diggIcon {
	padding: 0 5px;
}