/*字体*/

@font-face {
	font-family: "SourceHanSansCN-Normal";
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot');
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot?#font-spider') format('embedded-opentype'), url('../font/谷歌思源/SourceHanSansCN-Normal.woff') format('woff'), url('../font/谷歌思源/SourceHanSansCN-Normal.ttf') format('truetype'), url('../font/谷歌思源/SourceHanSansCN-Normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*reset*/


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
	margin: 0;
	padding: 0;
}


/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
	font: 18px/1.5 tahoma, \5b8b\4f53, ""SourceHanSansCN-Normal"";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}


html {
	font: 18px "SourceHanSansCN-Normal",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	color: #494949;
}


address,
cite,
dfn,
em,
var {
	font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace;
}


/* 统一等宽字体 */

small {
	font-size: 12px;
}


/* 小于 12px 的中文很难阅读, 让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
	list-style: none;
}


/** 重置文本格式元素 **/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}


/* 重置, 减少对行高的影响 */

sub {
	vertical-align: text-bottom;
}


/** 重置表单元素 **/

legend {
	color: #000;
}


/* for ie6 */

fieldset,
img {
	border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
	font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 重置 HTML5 元素 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	display: block;
	margin: 0;
	padding: 0;
}

mark {
	background: #ff0;
}

a {
	text-decoration: none;
	color: #62666c;
}

a:hover {
	text-decoration: none;
}
h2{
	display: inline-block;
	width: 100%;
	height: 33px;
	line-height: 33px;
	font-size: 18px;
	color: white;
	text-indent: 22px;
	background-image: url(../img/THQMS/tittleBg.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.tittle{
	color: #008AAD;
	line-height: 56px;
}
.contentText{
	line-height: 34px;
}
.backdrop{
	margin: 150px 0;
}
.citing-img{
	margin: 45px 0;
}
.annotation-text{
	font-size: 14px;
	line-height: 25px;
}
.tablePcBox{
	float: left;
	width: 375px;
	text-align: center;
}
.tablePcBox img{
	height: 283px;
}
.tablePcBox .tittle{
	color: #494949;
	font-size: 16px;
}
.clearFloat{
	overflow: hidden;
}
.update-content1,.update-content2{
	overflow: hidden;
	height: 543px;
}
.concrete{
	text-indent: 24px;
}
.learnMore1,.learnMore2,.shouqi1,.shouqi2{
	cursor: pointer;
	line-height: 102px;
}
.shouqi1,.shouqi2{
	display: none;
}
.dateupMsg{
	overflow: hidden;
	margin-bottom: 60px;
	margin-top: 20px;
}
.msg,.dateupMsg img{
	float: left;
}
.dateupMsg img{
	margin-top: 5px;
	margin-right: 30px;
}
