/*字体*/

@font-face {
	font-family: "SourceHanSansCN-Normal";
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot');
	src: url('../font/谷歌思源/SourceHanSansCN-Normal.eot?#font-spider') format('embedded-opentype'), url('../font/谷歌思源/SourceHanSansCN-Normal.woff') format('woff'), url('../font/谷歌思源/SourceHanSansCN-Normal.ttf') format('truetype'), url('../font/谷歌思源/SourceHanSansCN-Normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*reset*/


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
	margin: 0;
	padding: 0;
}


/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
	font: 14px/1.5 tahoma, \5b8b\4f53, ""SourceHanSansCN-Normal"";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

html {
	font: 18px/1.5 "SourceHanSansCN-Normal", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	color: #494949;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace;
}


/* 统一等宽字体 */

small {
	font-size: 12px;
}


/* 小于 12px 的中文很难阅读, 让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
	list-style-type: none;
}


/** 重置文本格式元素 **/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}


/* 重置, 减少对行高的影响 */

sub {
	vertical-align: text-bottom;
}


/** 重置表单元素 **/

legend {
	color: #000;
}


/* for ie6 */

fieldset,
img {
	border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
	font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 重置 HTML5 元素 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	display: block;
	margin: 0;
	padding: 0;
}

mark {
	background: #ff0;
}

a {
	text-decoration: none;
	color: #62666c;
}

a:hover {
	text-decoration: none;
}

.wrap {
	max-width: 1200px;
	min-width: 980px;
	margin: 0 auto;
	position: relative;
}


/*头部部分*/

.headerWrap {
	width: 100%;
	min-width: 980px;
	padding: 20px 0;
	position: fixed;
	top: 0;
	z-index: 100000;
	background: white;
	border-bottom: 1px solid #A9A9A9;
}

.header {
	max-width: 1700px;
	min-width: 980px;
	width: 100%;
	margin: 0 auto;
}

.logoWrap,
.headerWrap .navWrap {
	float: left;
}

.navWrap li a.active {
	color: #008AAD;
}

.navWrap li a:hover {
	color: #008AAD;
}

.logoWrap {
	margin-left: 40px;
}

.navWrap {
	margin-top: 18px;
}

.navWrap {
	padding-left: 25px;
}

.headerWrap .navWrap li {
	float: left;
	font-size: 20px;
	color: #62666c;
	padding: 0 20px 0 20px;
	line-height: 25px;
}

.navWrap li.fenge {
	width: 2px;
	height: 20px;
	background-color: #62666C;
	padding: 0;
	margin-top: 4px;
}
#changpin{
	position: relative;
}
.chanpinNav{
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 9999999999;
	width: 300%;
	top: 25px;
	left: -4px;
	padding-top: 2px;
	background: rgba(255,255,255,0.8);
}
#chanpinNav li{
	width: 33%;
	padding: 0px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	float: left;
}
#chanpinNav li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#chanpinNav li:hover{
	background: #008AAD;
}
#chanpinNav li:hover a{
	color: white;
}
.searchWrap {
	float: right;
	min-width: 115px;
	width: 16%;
	height: 38px;
	border: 1px solid #62666c;
	margin-top: 10px;
	margin-right: 2%;
}

.searchWrap .searchBox {
	border: none;
	outline: none;
	width: 120px;
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	color: #676767;
	margin-left: 2px;
}

.searchWrap img {
	float: right;
	margin-top: 7px;
	margin-right: 6px;
	cursor: pointer;
}


/*banner部分*/

.banner {
	height: 452px;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: #1e1711;
	position: relative;
}

.banner img {
	position: relative;
	top: -80px;
	width: 100%;
}

.bannerText {
	min-width: 980px;
	max-width: 1200px;
	width: 1200px;
	font-size: 48px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	height: 452px;
	left: 50%;
	margin-left: -600px;
}

.bannerText p {
	position: absolute;
	bottom: 105px;
	left: 45px;
	color: #ffffff;
}


/*小nav部分*/

.littleNav {
	cursor: pointer;
}

.nav2Wrap {
	background: #008aad;
	height: 48px;
	line-height: 48px;
	width: 100%;
	z-index: 100000000;
	position: absolute;
	top: 450px;
}

.nav2 {
	color: #FFFFFF;
	margin: 0 auto;
	font-size: 18px;
	position: relative;
	overflow: initial;
}

.nav2 span {
	position: relative;
	display: inline-block;
}

.fenge {
	display: inline-block;
	width: 1px;
	height: 16px;
	background: #FFFFFF;
	margin: 0 8px;
	top: 2px;
}

.triangle-down0,
.triangle-down1,
.triangle-down2,
.triangle-down3 {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 13px solid #008AAD;
	position: absolute;
	bottom: -30px;
	z-index: 999999999999;
	left: 50%;
	margin-left: -8px;
	opacity: 0;
}


/*content*/

.contentWrap {
	padding-top: 90px;
	overflow: hidden;
}

.leftNav {
	float: left;
	width: 360px;
	position: absolute;
	top: 90px;
}

.leftNav h1 {
	position: relative;
	display: inline-block;
	width: 160px;
	font-size: 32px;
	color: #008aad;
	line-height: 48px;
	margin-bottom: 15px;
}
.mainNavTrg{
	vertical-align: middle;
}
.achievement-nav li{
	line-height: 50px;
}
.tittleBgWrap {
	display: inline-block;
	position: absolute;
	right: -183px;
	top: 1px;
	z-index: -1;
	font-size: 0;
	overflow: hidden;
}
.navTittle a,.navTittle{
	line-height: 75px;
	color: #008AAD;
}
.content{
	float: left;
	width: 65%;
	padding-bottom: 120px;
	margin-left: 360px;
	min-height: 500px;
}

/*footer*/

.diggWrap {
	border-top: 1px solid #dedfe0;
	width: 100%;
	height: 50px;
	padding-top: 20px;
}

.digg {
	min-width: 980px;
	max-width: 1700px;
	margin: 0 auto;
}

.diggBox {
	width: 700px;
	margin: 0 auto;
	color: #008AAD;
	font-size: 14px;
}

.diggBox span {
	display: inline-block;
}

.diggBox span img {
	vertical-align: middle;
}

.diggText {
	width: 500px;
	text-align: center;
}

.diggIcon {
	padding: 0 5px;
}